#supportnetz {
	line-height: 26px;

	background-image: url(../img/support-netz2_restricted.jpg);
}

#supportnetz, #menu {
	height: 26px;
}

#menu {
	width: 827px;
	padding-right: 0;
}

#submenu, #content, #info {
	top: 99px;
}
