body {
	margin: 0;
	padding: 0;
	width: 1010pt;
	font-family: Verdana, sans-serif;
}

:lang(de) {
	quotes: "\00bb" "\00ab" "\203a" "\2039";
}


#header {
	position: absolute;
	margin: 0;
	padding: 0;

	padding-top: 25px;
	height: 50px;	/* 25 + 50 = 75 (74 + 1 in punkt-h.png) */

	padding-left: 20px;
	width: 990px;

	top: 0;
	left: 0;

	font-weight: normal;
	font-size: 9px;

	color: #999999;
	background-color: #fefae8;
	background-image: url(../img/punkt-h.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 14px;

	color: #666666;
}

#header img {	/* Bild ist 237x56 statt 210x49 hoch */
	position: absolute;
	margin: 0;
	padding: 0;
	top: 8px;	/* statt 11px */
	left: 750px;	/* statt 777 */
}



#supportnetz {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 183px;
	height: 47px;
	top: 75px;
	left: 0px;

	line-height: 46px;
	vertical-align: middle;
	text-align: center;

	font-weight: bold;
	font-size: 10px;

	background-color: #69b46c;
	color: #ffffff;

	background-image: url(../img/support-netz2.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#supportnetz a {
	display: block;
	background-color: transparent;
	color: #ffffff;
	text-decoration: none;
}



#menu {
	position: absolute;
	margin: 0;
	padding: 0;

	width: 471px;
	padding-right: 356px;

	margin-top: 2px;
	margin-bottom: 2px;
	height: 47px;

	top: 74px;
	left: 183px;

	font-weight: bold;
	font-size: 10px;

	color: #666666;
	background-color: #fefae8;
	background-image: url(../img/punkt-h2.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#menu div {
	width: 470px;
}

#menu a {
	position: relative;
	margin: 0;
	margin-left: 1px;
	margin-bottom: 1px;

	float: left;
	height: 16px;
	padding-top: 3px;
	width: 88px;
	padding-left: 3px;

	border-left: none;
	border-right: 1px solid #666666;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #666666;

	color: #999999;
	background-color: #ffffcc;
	text-decoration: none;
}



#menu a.current, #menu a.currentparent {
	color: #666666;
	background-color: #ffff66;
	border-top: 1px solid #ffffff;
}

#menu a:hover {
	color: #666666;
	background-color: #f0f0f0;
	border-top: 1px solid #ffffff;
}


#submenu {
	position: absolute;
	margin: 0;
	padding: 0;

	width: 184px;

	margin-top: 2px;

	top: 120px;
	bottom: 20px;

	overflow: hidden;

	font-weight: bold;
	font-size: 11px;

	color: #666666;
	background-color: #ffffff;
	background-image: url(../img/punkt-v.png);
	background-repeat: repeat-y;
	background-position: right 2px;
}

#submenu a,
#submenu .disabled, #submenu .disabledseparator, #submenu .disabledend,
#submenu .tworowdisabled, #submenu .tworowdisabledseparator, #submenu .tworowdisabledend
{
	position: relative;

	margin: 0;

	width: 159px;
	padding-left: 22px;

	height: 23px;
	padding-top: 7px;

	left: 0;
	top: 0;
	float: left;

	text-decoration: none;
	overflow: hidden;

	background-position: left bottom;
	background-repeat: no-repeat;
}


#submenu a.tworow, #submenu a.tworowseparator, #submenu a.tworowend,
#submenu a.tworowcurrent, #submenu a.tworowseparatorcurrent, #submenu a.tworowendcurrent,
#submenu .tworowdisabled, #submenu .tworowdisabledseparator, #submenu .tworowdisabledend {
	height: 28px;
	padding-top: 2px;

	line-height: 13px;
}



#submenu a,
#submenu .disabled, #submenu .disabledseparator, #submenu .disabledend,
#submenu .tworowdisabled, #submenu .tworowdisabledseparator, #submenu .tworowdisabledend {
	color: #999999;
}


#submenu a, #submenu a.tworow {
	background-image:url("../img/nava.png");
}

#submenu a.separator, #submenu a.tworowseparator,
#submenu a.separatorcurrentparent, #submenu a.tworowseparatorcurrentparent {
	background-image:url("../img/navasep.png");
}

#submenu a.end, #submenu a.tworowend {
	background-image:url("../img/navaend.png");
}



#submenu a:hover {
	color: #666666;
}

#submenu a:hover {
	background-image:url("../img/navahover.png");
}

#submenu a:hover.separator, #submenu a:hover.tworowseparator,
#submenu a:hover.separatorcurrentparent, #submenu a:hover.tworowseparatorcurrentparent {
	background-image:url("../img/navasephover.png");
}

#submenu a:hover.end, #submenu a:hover.tworowend {
	background-image:url("../img/navaendhover.png");
}


#submenu a.current, #submenu a.separatorcurrent, #submenu a.endcurrent {
	color: #666666;
}

#submenu a.current {
	background-image:url("../img/navacurrent.png");
}

#submenu a.separatorcurrent {

	background-image:url("../img/navasepcurrent.png");
}

#submenu a.endcurrent {

	background-image:url("../img/navaendcurrent.png");
}


#submenu a.tworowcurrent {
	background-image:url("../img/nava2current.png");
}

#submenu a.tworowseparatorcurrent {

	background-image:url("../img/nava2sepcurrent.png");
}

#submenu a.tworowendcurrent {
	background-image:url("../img/nava2endcurrent.png");
}



#submenu .disabled, #subdnav .disabledseparator, #submenu .disabledend {
	color: #999999;
}

#submenu .disabled, #submenu .tworowdisabled {
	background-image:url("../img/nav.png");
}

#submenu .disabledseparator, #submenu .tworowdisabledseparator {
	background-image:url("../img/navsep.png");
}

#submenu .disabledend, #submenu .tworowdisabledend {
	background-image:url("../img/navend.png");
}






#submenu img {
	position: absolute;
	left: 36px;
	bottom: 10px;
}

#authors {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 642px;
	height: 16px;
	left: 184px;
	bottom: 20px;

	overflow: hidden;

	color: #999999;
	background-color: #ffffff;
	background-image: url(../img/punkt-h.png);
	background-repeat: repeat-x;
	background-position: 2px top;

	font-weight: normal;
	font-size: 9px;
	text-align: center;

	line-height: 16px;
	vertical-align: middle;
}

#content {
	position: absolute;
	margin: 0;
	padding: 0;

	width: 586px;
	padding-left: 27px;
	padding-right: 31px;

	margin-top: 3px;

	top: 120px;
	left: 183px;
	bottom: 36px;

	overflow: auto;

	font-weight: normal;
	font-size: 11px;
}

#content h2 {
	margin-top: 10px;
	margin-bottom: 4px;
	padding: 0;

	font-weight: bold;
	font-size: 14px;
}

#content input,
#content select,
#content textarea {
	font-size: 11px;
}

#content input[length], #content input[type="submit"] {
	height: 22px;
}

#content input[type="checkbox"] {
	width: 12px;
	height: 12px;
}

#content select {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 2px;
	min-height: 16px;
}

#content p {
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

#content .hint {
	color: #999999;
	font-size: 10px;
}

#content a {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

#content a:before, #info a:before {
	content: "[";
}

#content a:after, #info a:after {
	content: "]";
}

#content a:hover {
	color: #cc3333;
}

#content table {
	font-size: 11px;
}

#info {
	position: absolute;
	margin: 0;
	padding: 0;

	width: 169px;
	padding-left: 15px;

	margin-top: 3px;

	top: 120px;
	left: 826px;
	bottom: 16px;

	overflow: auto;

	font-weight: normal;
	font-size: 10px;

	background-image: url(../img/punkt-v.png);
	background-repeat: repeat-y;
	background-position: left 1px;
}

#info h2 {
	position: relative;
	margin: 0;
	margin-left: 3px;
	top: 0;
	left: -15px;
	width: 11px;
	height: 11px;
	background-image: url(../img/info.png);
	background-repeat: no-repeat;

	text-indent: 12px;	/* hide text */
	overflow: hidden;
}


#info img {
	position: absolute;
	bottom: 6px;
	left: 64px;
}

#info p {
	padding-top: 0;
	margin-top: 0;
}


#info a {
	color: #999999;
	font-weight: bold;
	text-decoration: none;
}

#info a:hover {
	color: #cc3333;
}


#status {
	margin: 0;
	margin-left: -12px;
	padding: 0;

	width: 168px;
	padding-left: 13px;

	min-height: 32px;
	padding-top: 12px;
	padding-bottom: 1px;

	overflow: hidden;

	background-color: #ffffff;
	background-image: url(../img/punkt-h.png);
	background-repeat: repeat-x;
	background-position: 2px bottom;
}

#status div {
	position: absolute;
	margin: 0;
	margin-left: 3px;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	background-image: url(../img/info.png);
	background-repeat: no-repeat;
}

#status p {
	margin-top: 0;
	padding-top: 0;
}


#status.ok {
	color: white;
	background-color: #69b46c;
}

#status.ok div {
	background-image: url(../img/info-gruen.png);
}

#status.error {
	color: white;
	background-color: #d54f4f;
}

#status.error div {
	background-image: url(../img/info-rot.png);
}

#status.ok p.info, #status.error p.info {
	display: none;
}

label.error {
	color: #d54f4f;
}


p.selectdomain {
	float: right;
}

form.singleton {
	float: left;
}


hr {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 1px;

	clear: left;

	border: none;

	background-image: url(../img/punkt-h.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}


/* not MOII style guide)  */

th {
	vertical-align: top;
}



table.liste td {
	vertical-align: top;
}

.settings td {
	vertical-align: middle;
}


table.liste > tr:first-child,
table.liste th {
	text-align: left;
	background-color: #f3f3f3;
}



table.liste tr {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}

table.liste tr.even,
table.settings tr.even {
	background-color: #ffffdd;
}


table.liste tr.odd,
table.settings tr.odd {
	background-color: #ffffff;
}

table.liste tr.editing {
	background-color: #deffdf;
}



#roomoverview tr > td:first-child + td + td,
#roomoverview tr > td:first-child + td + td + td,
#roomoverview tr > td:first-child + td + td + td + td,
#roomoverview tr > td:first-child + td + td + td + td + td,
#roomoverview tr > td:first-child + td + td + td + td + td + td,
#roomoverview tr > td:first-child + td + td + td + td + td + td + td,
#roomoverview tr > td:first-child[colspan="2"] + td,
#roomoverview tr > th:first-child + th + th,
#roomoverview tr > th:first-child + th + th + th,
#roomoverview tr > th:first-child + th + th + th + th,
#roomoverview tr > th:first-child + th + th + th + th + th,
#printersoverview tr > th:first-child + th + th,
#printersoverview tr > td:first-child + td + td,
#printersoverview tr > td:first-child[colspan="2"] + td,
#roomshares tr > th:first-child + th + th,
#roomshares tr > td:first-child + td + td,
#roomshares tr > td:first-child[colspan="2"] + td,
#roomhandoutcopy tr > th:first-child + th + th,
#roomhandoutcopy tr > td:first-child + td + td,
#roomhandoutcopy tr > td:first-child[colspan="2"] + td,
#roomcollect tr > th:first-child + th + th + th,
#roomcollect tr > td:first-child + td + td + td,
#roomcollect tr > td:first-child[colspan="3"] + td,
#classpasswords tr > td:first-child + td + td,
#classpasswords tr > td:first-child[colspan="2"] + td,
#classhandoutcopy tr > th:first-child + th + th,
#classhandoutcopy tr > td:first-child + td + td,
#classhandoutcopy tr > td:first-child[colspan="2"] + td,
#classcollect tr > th:first-child + th + th,
#classcollect tr > td:first-child + td + td,
#classcollect tr > td:first-child[colspan="2"] + td,
#classshares tr > th:first-child + th + th,
#classshares tr > td:first-child + td + td,
#classshares tr > td:first-child[colspan="2"] + td,
#projecthandoutcopy tr > th:first-child + th + th,
#projecthandoutcopy tr > td:first-child + td + td,
#projecthandoutcopy tr > td:first-child[colspan="2"] + td,
#projectcollect tr > th:first-child + th + th,
#projectcollect tr > td:first-child + td + td,
#projectcollect tr > td:first-child[colspan="2"] + td,
#projectshares tr > th:first-child + th + th,
#projectshares tr > td:first-child + td + td,
#projectshares tr > td:first-child[colspan="2"] + td,
#printersedit tr > td:first-child + td {
	text-align: center;
}

#printersedit tr > td:first-child + td {
	vertical-align: middle;
}

.quickselection input,
#classesoverview tr > td:first-child input,
#projectsoverview tr > td:first-child input,
#projectmemberclasses tr > td:first-child input,
#projectmemberprojects tr > td:first-child input {
	margin: 0;
	padding: 0;
	font-size: inherit;
	background: none;
	border: none;

	font-weight: bold;
	color: #999999;

	cursor: pointer;
}

.quickselection input {
	cursor: auto;
}





#diskquotas,
#mailquotas,
#roomshares,
#roomhandoutcopy,
#roomhandout,
#classesoverview,
#classshares,
#classhandout,
#classhandoutcopy,
#classwww,
#projectshares,
#projecthandout,
#projecthandoutcopy,
#projectwww,
#quotasteachers,
#quotasclasses,
#quotasprojects,
#rooms {
	width: 62%;
}

#roomoverview,
#printersoverview,
#roomcollect,
#classoverview,
#classpasswords,
#classcollect,
#searchstudents,
#searchteachers,
#searchclasses,
#searchprojects,
#projectcollect,
#projectmemberclasses,
#projectmemberprojects,
#projectmemberteachers,
#projectmemberstudents,
.settings,
#quotaswww,
#quotasadmins,
#quotasstudents,
#quotasworkstations,
#quotassystem,
#printers,
#printersedit,
#teachersedit,
#teachersadd,
#teachersdelete,
#teacherspasswords,
#teachin,
#usersdelete,
#commitadd,
#commitmove,
#commitkill,
.tabletable {
	width: 100%;
}

#printersedit select {
	max-height: 230px;
}

#hosts tr > th:first-child + th + th + th + th + th + th + th {
	text-align: center;
}

#hosts input, #hosts select {
	font-size: 9px;
}

#hosts select {
	min-height: 2px;
	height: 16px;
}

#hosts {
	margin-left: -11px;
}

#hosts select[name="addcnt"] {
	height: 22px;
}

#hosts select[name="addcnt"], #hosts input[type="submit"] {
	font-size: 11px;
}


td select {
    width: 100%;
	}

#action td {
	text-align: center;
	vertical-align: center;
	background: red;
}




/* quota */

td li span {
	display: block;
	background-color: #6c71b3;
}

td li.warn span {
	background-color: #d54f4f;
}

td ul {
	list-style-type: none;
	margin: 1px;
	padding: 0;
}

td ul li {
	margin: 0;
	margin-top: 2ex;
	padding: 0;
	border: 1px solid black;
	width: 100%;
	font-size: 25%;
	background-color: white;
}

td p {
	display: none;
}

td:hover p {
	display: block;
	position: absolute;
	border: 1px solid black;
	background: #ffffcc;
	padding: .4ex;
	z-index: 1000;
}

/* --- */
