
<table>
<tr>
<td><img src='css/img/busy.gif' alt="[% loc('beschäftigt...') %]" title="[% loc('beschäftigt...') %]" />&nbsp;</td>
<td>
[% busy.msg %]...
</td></tr>
<tr><td colspan='2' align='center'>
<input type='image' alt="[% loc('aktualisieren') %]" title="[% loc('aktualisieren') %]" src='css/img/dorefresh.png' />
</td></tr>
<tr>
<td colspan='2' align='left'>
<fieldset>
<pre>
[% busy.log %]
</pre>
</fieldset>
</td></tr>
</table>
