<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Klassen') %]: [% class %] - [% d.get('Bereitstellen') %]</title>
[% INCLUDE css.inc.tt %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE header.inc.tt %]

<div id="submenu">
[% INCLUDE submenu-class.inc.tt %]
</div>

<div id="content">

[% IF classes %]
<form method="post" accept-charset="UTF-8">
<p class="selectdomain">
<select name="classes">
<optgroup label="Klassen">
[% FOREACH classes %] <option value="[% classes.gid %]">[% classes.name %]</option>
[% END %]
</optgroup>
<optgroup label="aktuelle Klasse">
<option value="[% class_gid %]" selected>[% class %]</option>
</optgroup>
</select>
<input type="submit" value="Wechseln">
</p>
</form>
[% END %]


<h2>[% d.get('Klassen') %] :: [% d.get('Bereitstellen') %]</h2>

<h3>[% d.get('Ausgew&auml;hlte Klasse:') %] [% class %]</h3>


<form method="post" accept-charset="UTF-8">


<h3>[% d.get('Vorlagen') %]</h3>

[% IF teacher_share_files %]
<ul>
[% FOREACH teacher_share_files %]
	<li>[% IF teacher_share_files{isdir} %]
	*[% END %][% teacher_share_files.name %]</li>
[% END %]
</ul>
[% ELSE %]
<p>[% d.get('Keine Dateien') %]<p>
[% END %]
<p><input type="submit" value="Ansicht aktualisieren"></p>


<p><input type="submit" name="handout" value="Bereitstellen"></p>
</form>




</div>


<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE status.inc.tt %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('Ihre Vorlagen m&uuml;ssen in Ihrem Heimatverzeichnis unter
&#8222;_bereitstellen -&gt; bereitstellen-Klasse&#8220; abgelegt sein.') %]</p>
<p>[% d.get('Nach dem Bet&auml;tigen der Schaltfl&auml;che &#8222;Bereitstellen&#8220;
finden die Sch&uuml;ler/innen Ihre Vorlagen in ihrem Heimatverzeichnis unter
&#8222;__vorlagen -&gt; vorlagen-Klasse&#8220;.') %]</p>

[% INCLUDE footer_info.inc.tt %]
</div>

[% INCLUDE footer.inc.tt %]

</body>
</html>
