<link rel="stylesheet" title="linuxmuster.net::Schulkonsole" href="css/linuxmuster.css" type="text/css">
<link rel="stylesheet" href="/jquery/jquery-ui.css"/>
<script src="/jquery/jquery.js"></script>
<script src="/jquery/jquery-ui.js"></script>
<!--[if lt IE 7]>
<style type="text/css">@import url(css/linuxmuster_IE.css);</style>
</style>
<![endif]-->
