<link rel="stylesheet" title="linuxmuster.net::Schulkonsole" href="css/linuxmuster.css" type="text/css">
<link type="text/css" href="/javascript/jquery-ui/css/smoothness/jquery-ui.css" rel="stylesheet" />
<script language="javascript" type="text/javascript" src="/javascript/jquery/jquery.js"></script>
<script language="javascript" type="text/javascript" src="/javascript/jquery-ui/jquery-ui.js"></script>
<!--[if lt IE 7]>
<style type="text/css">@import url(css/linuxmuster_IE.css);</style>
</style>
<![endif]-->
