[% page = {
      title    => d.get('Schulkonsole - Beispielseite'),
      menu     => 1,
      info     => d.get('Das ist eine Beispiel-Seite.'),
   }
%]

<h2>[% d.get('Hallo ') %] [% firstname %]</h2>
