<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('linbo') %]</title>
[% INCLUDE "css.inc.tt" %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE "header.inc.tt" %]

<div id="submenu">
[% INCLUDE "submenu-linbo.inc.tt" %]
</div>

<div id="content">

<h2>[% d.get('linbo') %]</h2>


<p>
[% IF link_linbo_edit %]
<a href="linbo_edit">[% d.get('Gruppenkonfiguration editieren') %]</a></br>
[% END %]
[% IF link_linbo_new %]
<a href="linbo_new">[% d.get('Gruppenkonfiguration erstellen') %]</a></br>
[% END %]
[% IF link_linbo_regpatchedit %]
<a href="linbo_regpatchedit">[% d.get('Registrypatch editieren') %]</a></br>
[% END %]
[% IF link_linbo_pxeedit %]
<a href="linbo_pxeedit">[% d.get('PXE-Start') %]</a></br>
[% END %]
[% IF link_linbo_menuedit %]
<a href="linbo_menuedit">[% d.get('menu.lst editieren') %]</a></br>
[% END %]
[% IF link_linbo_images %]
<a href="linbo_images">[% d.get('Imageverwaltung') %]</a></br>
[% END %]
</p>

</div>

<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "status.inc.tt" %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('W&auml;hlen Sie ein Untermen&uuml;.') %]</p>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
