<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('linbo') %]</title>
[% INCLUDE css.inc.tt %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE header.inc.tt %]

<div id="submenu">
[% INCLUDE submenu-linbo.inc.tt %]
</div>

<div id="content">

[% IF groups %]
<form method="post" accept-charset="UTF-8">
<p class="selectdomain">
<select name="group">
[% FOREACH groups %] <option value="[% groups %]">[% groups %]</option>
[% END %]
</select>
<input type="submit" value="Datei w&auml;hlen">
</p>
</form>
[% END %]

<h2>[% d.get('Konfigurationsdateien editieren') %]</h2>

[% IF group %]
<form method="post" accept-charset="UTF-8" action="#edit">

<h3>[% d.get('[LINBO] - globale Konfiguration') %]</h3>

<table class="settings">
<colgroup>
<col width="60%">
<col width="40%">
</colgroup>
<tr class="odd">
[% IF iscached %]
<td>[% d.get('Cache-Partition auf dem Arbeitsplatzrechner') %]:</td>
<td>[% cache %]<input type="hidden" name="linbo_cache"></td>
[% ELSE %]
<tr class="odd">
<td><label for="linbo_cache">[% d.get('Cache-Partition auf dem Arbeitsplatzrechner') %]:</label></td>
<td><input id="linbo_cache" name="linbo_cache"></td>
[% END %]
</tr>
<tr class="even">
<td><label for="linbo_server">[% d.get('IP des TFTP-Servers, der Images vorh&auml;lt') %]:</label></td>
<td><input id="linbo_server" name="linbo_server" size="16" maxlength="15"></td>
</tr>
<tr class="odd">
<td>[% d.get('Rechnergruppenname') %]:</td>
<td>[% group %]<input type="hidden" name="group" value="[% group %]"></td>
</tr>
<tr class="even">
<td><label for="linbo_systemtype">[% d.get('System-Typ') %]:</label></td>
<td>
<select name="linbo_systemtype">
<option value="bios">[% d.get('Bios') %]</option>
<option value="bios64">[% d.get('Bios64') %]</option>
<option value="efi32">[% d.get('EFI32') %]</option>
<option value="efi64">[% d.get('EFI64') %]</option>
</td>
</tr>
<tr class="odd">
<td><label for="linbo_roottimeout">[% d.get('automatischer Rootlogout nach') %]:</label></td>
<td><input id="linbo_roottimeout" name="linbo_roottimeout"> [% d.get('Sekunden') %]</td>
</tr>
<tr class="even">
<td><label for="linbo_autopartition">[% d.get('Automatische Partitionsreparatur') %]:</label></td>
<td>[% IF linbo_autopartition %]<input type="checkbox" id="linbo_autopartition" name="linbo_autopartition" checked>
[% ELSE %]<input type="checkbox" id="linbo_autopartition" name="linbo_autopartition">[% END %]</td>
</tr>
<tr class="odd">
<td><label for="linbo_autoformat">[% d.get('Automatisches Formatieren') %]:</label></td>
<td>[% IF linbo_autoformat %]<input type="checkbox" id="linbo_autoformat" name="linbo_autoformat" checked>
[% ELSE %]<input type="checkbox" id="linbo_autoformat" name="linbo_autoformat">[% END %]</td>
</tr>
<tr class="even">
<td><label for="linbo_autoinitcache">[% d.get('Automatisches Einrichten des Caches') %]:</label></td>
<td>[% IF linbo_autoinitcache %]<input type="checkbox" id="linbo_autoinitcache" name="linbo_autoinitcache" checked>
[% ELSE %]<input type="checkbox" id="linbo_autoinitcache" name="linbo_autoinitcache">[% END %]</td>
</tr>
<tr class="odd">
<td><label for="linbo_downloadtype">[% d.get('Downloadtype ausw&auml;hlen') %]:</label></td>
<td>
<select name="linbo_downloadtype">
<option value="rsync">[% d.get('rsync') %]</option>
<option value="multicast">[% d.get('multicast') %]</option>
<option value="torrent">[% d.get('torrent') %]</option>
</select>
</td>
</tr>
<tr class="even">
<td><label for="linbo_backgroundfontcolor">[% d.get('Bildschirmschriftfarbe') %]:</label></td>
<td><input id="linbo_backgroundfontcolor" name="linbo_backgroundfontcolor" value="white"></td>
</tr>
<tr class="odd">
<td><label for="linbo_consolefontcolorstdout">[% d.get('Konsolenschriftfarbe') %]:</label></td>
<td><input id="linbo_consolefontcolorstdout" name="linbo_consolefontcolorstdout" value="white"></td>
</tr>
<tr class="even">
<td><label for="linbo_consolefontcolorstderr">[% d.get('Konsolenschriftfarbe f&uuml;r Fehler- und Warnmeldungen') %]:</label></td>
<td><input id="linbo_consolefontcolorstderr" name="linbo_consolefontcolorstderr" value="red"></td>
</tr>
<tr class="odd">
<td><label for="linbo_kerneloptions">[% d.get('LINBO-Kerneloptionen') %]:</label></td>
<td><input id="linbo_kerneloptions" name="linbo_kerneloptions" value=""></td>
</tr>
</table>

<p><input type="submit" name="accept" value="&Auml;nderungen speichern"></p>
<p><input type="submit" name="adddevtop" value="Neues System hinzuf&uuml;gen">
<select name="adddevnewtop">
<option value="windows">[% d.get('MS Windows') %]</option>
<option value="gnulinux">[% d.get('GNU/Linux') %]</option>
<option value="data" selected>[% d.get('Daten') %]</option>
<option value="swap">[% d.get('Swap') %]</option>[% IF iscached %][% ELSE %]
<option value="cache">[% d.get('Cache') %]</option>[% END %]
<option value="ext">[% d.get('erweitert') %]</option>
<option value="efi">[% d.get('EFI') %]</option>
</select>
</p>



<h3>[% d.get('Systeme') %]</h3>


<hr>

[% FOREACH devs %]
[% IF devs{os} %]
[% FOREACH devs{os} %]
[% IF devs{os}{isnew} %]
	<table id="edit" class="settings">
[% ELSE %]
	[% IF {devs{os}{isfirst}} %]
		[% IF devs{isedited} %]
			<table id="edit" class="settings">
		[% ELSE %]
			<table class="settings">
		[% END %]
	[% ELSE %]
		<table class="settings">
	[% END %]
[% END %]
<colgroup>
<col width="60%">
<col width="40%">
</colgroup>
<tr class="even">
<td><b>[% d.get('System') %]:</b></td>
<td><input type="hidden" name="[% devs.n %]_type" value="[% devs_type %]"><b>
[% IF devs{iswindows} %]
	[% d.get('MS Windows') %]
[% ELSE %]
	[% d.get('GNU/Linux') %]
[% END %]
</b></td>
</tr>
[% IF {devs{os}{isfirst}} %]
<tr class="odd">
<td><label for="[% devs.n %]_label">[% d.get('Name der Partition') %]:</label></td>
<td><input id="[% devs.n %]_label" name="[% devs.n %]_label"></td>
</tr>
<tr class="even">
<td><label for="[% devs.n %]_dev">[% d.get('Devicename der Partition') %]:</label></td>
<td><input id="[% devs.n %]_dev" name="[% devs.n %]_dev"></td>
</tr>
<tr class="odd">
<td><label for="[% devs.n %]_size">[% d.get('Partitionsgr&ouml;&szlig;e in KB') %]:</label></td>
<td><input id="[% devs.n %]_size" name="[% devs.n %]_size"></td>
</tr>
<tr class="even">
<td><label for="[% devs.n %]_fstype">[% d.get('Dateisystem') %]:</label></td>
<td>
<select id="[% devs.n %]_fstype" name="[% devs.n %]_fstype">
[% IF devs{iswindows} %]
<option value="vfat">[% d.get('VFAT') %]</option>
<option value="ntfs">[% d.get('NTFS') %]</option>
[% ELSE %]
<option value="ext3">[% d.get('EXT3') %]</option>
<option value="ext4">[% d.get('EXT4') %]</option>
<option value="reiserfs">[% d.get('ReiserFS') %]</option>
[% END %]
</select>
</td>
</tr>
<tr class="odd">
<td><label for="[% devs.n %]_bootable">[% d.get('Partition bootbar:') %]</label></td>
<td>[% IF devs{bootable} %]<input type="checkbox" id="[% devs.n %]_bootable" name="[% devs.n %]_bootable" checked>
[% ELSE %]<input type="checkbox" id="[% devs.n %]_bootable" name="[% devs.n %]_bootable">[% END %]</td>
</tr>
[% ELSE %]
<tr class="odd">
<td>[% d.get('Name der Partition') %]:</td>
<td>[% devs.label %]</td>
</tr>
<tr class="even">
<td>[% d.get('Devicename der Partition') %]:</td>
<td>[% devs.dev %]</td>
</tr>
<tr class="odd">
<td>[% d.get('Partitionsgr&ouml;&szlig;e in KB') %]:</td>
<td>[% devs.size %]</td>
</tr>
<tr class="even">
<td>[% d.get('Dateisystem') %]:</td>
<td>[% devs.fstype %]</td>
</tr>
<tr class="odd">
<td>[% d.get('Partition bootbar') %]:</td>
<td>[% IF {devs{bootable}} %]<input type="checkbox" disabled checked>
[% ELSE %]<input type="checkbox" disabled>[% END %]</td>
</tr>
[% END %]
<tr class="even">
<td><label for="[% devs.os}{n %]_name">[% d.get('Name des Betriebssystems') %]:</label></td>
<td><input id="[% devs.os}{n %]_name" name="[% devs.os}{n %]_name"></td>
</tr>
<tr class="odd">
<td><label for="[% devs.os}{n %]_version">[% d.get('Betriebssystemversion (optional)') %]:</label></td>
<td><input id="[% devs.os}{n %]_version" name="[% devs.os}{n %]_version"></td>
</tr>
<tr class="even">
<td><label for="[% devs.os}{n %]_description">[% d.get('Beschreibung (optional)') %]:</label></td>
<td><input id="[% devs.os}{n %]_description" name="[% devs.os}{n %]_description"></td>
</tr>
</tr>
<tr class="odd">
<td><label for="[% devs.os}{n %]_iconname">[% d.get('Dateiname des Icons f&uuml;r den Startbutton') %]:</label></td>
<td><input id="[% devs.os}{n %]_iconname" name="[% devs.os}{n %]_iconname"></td>
</tr>
<tr class="even">
<td><label for="[% devs.os}{n %]_image">[% d.get('Dateiname des differenziellen Image') %]:</label></td>
<td><input id="[% devs.os}{n %]_image" name="[% devs.os}{n %]_image">.rsync</td>
</tr>
<tr class="odd">
<td><label for="[% devs.os}{n %]_baseimage">[% d.get('Dateiname des Basis-Image') %]:</label></td>
<td><input id="[% devs.os}{n %]_baseimage" name="[% devs.os}{n %]_baseimage">.cloop</td>
</tr>
[% IF devs{isgnulinux} %]
<tr class="even">
<td><label for="[% devs.os}{n %]_boot">[% d.get('Partition, die Kernel und initrd enth&auml;lt') %]:</label></td>
<td><input id="[% devs.os}{n %]_boot" name="[% devs.os}{n %]_boot"></td>
</tr>
<tr class="odd">
<td><label for="[% devs.os}{n %]_kernel">[% d.get('Pfad zum kernel') %]:</label></td>
<td><input id="[% devs.os}{n %]_kernel" name="[% devs.os}{n %]_kernel"></td>
</tr>
<tr class="even">
<td><label for="[% devs.os}{n %]_initrd">[% d.get('Relativer Pfad zur initrd') %]:</label></td>
<td><input id="[% devs.os}{n %]_initrd" name="[% devs.os}{n %]_initrd"></td>
</tr>
<tr class="odd">
<td><label for="[% devs.os}{n %]_append">[% d.get('Bootoptionen') %]:</label></td>
<td><input id="[% devs.os}{n %]_append" name="[% devs.os}{n %]_append"></td>
</tr>
[% END %]
<tr class="even">
<td><label for="[% devs.os}{n %]_startenabled">[% d.get('Start-Button f&uuml;r dieses Betriebssystem anzeigen') %]:</label></td>
<td>[% IF devs{os}{startenabled} %]<input type="checkbox" id="[% devs.os}{n %]_startenabled" name="[% devs.os}{n %]_startenabled" checked>
[% ELSE %]<input type="checkbox" id="[% devs.os}{n %]_startenabled" name="[% devs.os}{n %]_startenabled">[% END %]</td>
</tr>
<tr class="odd">
<td><label for="[% devs.os}{n %]_syncenabled">[% d.get('Sync+Start-Button f&uuml;r dieses Betriebssystem anzeigen') %]:</label></td>
<td>[% IF devs{os}{syncenabled} %]<input type="checkbox" id="[% devs.os}{n %]_syncenabled" name="[% devs.os}{n %]_syncenabled" checked>
[% ELSE %]<input type="checkbox" id="[% devs.os}{n %]_syncenabled" name="[% devs.os}{n %]_syncenabled">[% END %]</td>
</tr>
<tr class="even">
<td><label for="[% devs.os}{n %]_newenabled">[% d.get('Neu+Start-Button f&uuml;r dieses Betriebssystem anzeigen') %]:</label></td>
<td>[% IF devs{os}{newenabled} %]<input type="checkbox" id="[% devs.os}{n %]_newenabled" name="[% devs.os}{n %]_newenabled" checked>
[% ELSE %]<input type="checkbox" id="[% devs.os}{n %]_newenabled" name="[% devs.os}{n %]_newenabled">[% END %]</td>
</tr>
<tr class="odd">
<td><label for="[% devs.os}{n %]_hidden">[% d.get('Betriebssystemreiter verstecken') %]:</label></td>
<td>[% IF devs{os}{hidden} %]<input type="checkbox" id="[% devs.os}{n %]_hidden" name="[% devs.os}{n %]_hidden" checked>
[% ELSE %]<input type="checkbox" id="[% devs.os}{n %]_hidden" name="[% devs.os}{n %]_hidden">[% END %]</td>
</tr>
<tr class="even">
[% IF devs{iswindows} %]
<td><label for="[% devs.os}{n %]_kernel">[% d.get('Systemstart durch') %]:</label></td>
<td><select id="[% devs.os}{n %]_kernel" name="[% devs.os}{n %]_kernel">
<option value="grub.exe">[% d.get('grub.exe') %]</option>
<option value="reboot">[% d.get('reboot') %]</option>
</select>
</td>
</tr>
<tr class="odd">
[% END %]
<td><label for="[% devs.os}{n %]_autostart">[% d.get('Betriebssystem automatisch starten') %]:</label></td>
<td>[% IF devs{os}{autostart} %]<input type="radio" id="[% devs.os}{n %]_autostart" name="autostart" value="[% devs.os}{n %]" checked>[% isautostartselected=1 %]
[% ELSE %]<input type="radio" id="[% devs.os}{n %]_autostart" name="autostart" value="[% devs.os}{n %]">[% END %][% isautostartpossible=1 %]</td>
</tr>
</tr>
<tr class="even">
<td><label for="[% devs.os}{n %]_autostarttimeout">[% d.get('Autostart-Timeout in Sek.') %]:</label></td>
<td><input id="[% devs.os}{n %]_autostarttimeout" name="[% devs.os}{n %]_autostarttimeout""></td>
</tr>
<tr class="odd">
<td><label for="[% devs.os}{n %]_defaultaction">[% d.get('Standard-Autostart-Aktion ausw&auml;hlen') %]:</label></td>
<td>
<select name="[% devs.os}{n %]_defaultaction">
<option value="start">[% d.get('start') %]</option>
<option value="sync">[% d.get('sync') %]</option>
<option value="new">[% d.get('new') %]</option>
</select>
</td>
</tr>
</table>
<p><input type="submit" name="accept" value="&Auml;nderungen speichern"></p>
[% IF devs{os}{isfirst} %]
<p><select name="[% devs.n %]_modifynew">
[% IF devs{iswindows} %][% ELSE %]<option value="windows">[% d.get('MS Windows') %]</option>[% END %]
[% IF devs{isgnulinux} %][% ELSE %]<option value="gnulinux">[% d.get('GNU/Linux') %]</option>[% END %]
[% IF devs{isdata} %][% ELSE %]<option value="data">[% d.get('Daten') %]</option>[% END %]
[% IF devs{isswap} %][% ELSE %]<option value="swap">[% d.get('Swap') %]</option>[% END %]
[% IF devs{iscache} %][% ELSE %][% IF iscached %][% ELSE %]<option value="cache">[% d.get('Cache') %]</option>[% END %][% END %]
[% IF devs{isext} %][% ELSE %]<option value="ext">[% d.get('erweitert') %]</option>[% END %]
[% IF devs{isefi} %][% ELSE %]<option value="efi">[% d.get('EFI') %]</option>[% END %]
</select>&nbsp;<input type="submit" name="[% devs.n %]_modify" value="System &auml;ndern"></p>
[% END %]
<p><input type="submit" name="[% devs.os}{n %]_deleteos" value="Betriebssystem l&ouml;schen"><br>
<input type="submit" name="[% devs.n %]_addos" value="Betriebssystem hinzuf&uuml;gen">



<hr>
[% END %]
[% ELSE %]
<table class="settings">
<colgroup>
<col width="60%">
<col width="40%">
</colgroup>
<tr class="even">
<td><b>[% d.get('System') %]:</b></td>
<td>
<input type="hidden" name="[% devs.n %]_type" value="[% devs.type %]"><b>
[% IF devs{isdata} %]
        [% d.get('Daten') %]
[% ELSE %]
        [% IF devs{isswap} %]
                [% d.get('Swap') %]
        [% ELSE %]
                [% IF devs{iscache} %]
                        [% d.get('Cache') %]
                [% ELSE %]
                        [% IF devs{isext} %]
                                [% d.get('erweiterte Partition') %]
                        [% ELSE %]
                                [% IF devs{isefi} %]
                                        [% d.get('EFI') %]
                                [% END %]
                        [% END %]
                [% END %]
        [% END %]
[% END %]
</b>
</td>
</tr>
<tr class="odd">
<td><label for="[% devs.n %]_label">[% d.get('Name der Partition') %]:</label></td>
<td><input id="[% devs.n %]_label" name="[% devs.n %]_label"></td>
</tr>
<tr class="even">
<td><label for="[% devs.n %]_dev">[% d.get('Devicename der Partition') %]:</label></td>
<td><input id="[% devs.n %]_dev" name="[% devs.n %]_dev"></td>
</tr>
<tr class="odd">
<td><label for="[% devs.n %]_size">[% d.get('Partitionsgr&ouml;&szlig;e in KB') %]:</label></td>
<td><input id="[% devs.n %]_size" name="[% devs.n %]_size">
[% IF devs{bootable} %]<input type="hidden" id="[% devs.n %]_bootable" name="[% devs.n %]_bootable" value="1">[% END %]
[% IF devs{isswap} %]
<input type="hidden" name="[% devs.n %]_fstype" value="swap"></td>
</tr>
[% ELSE %]
	[% IF devs{isext} %]
<input type="hidden" name="[% devs.n %]_fstype" value=""></td>
</tr>
	[% ELSE %]</td>
</tr>
<tr class="even">
<td><label for="[% devs.n %]_fstype">[% d.get('Dateisystem') %]:</label></td>
<td>[% IF devs{iscache} %]
<input type="hidden" name="[% devs.n %]_iscache" value="1"><select id="[% devs.n %]_fstype" name="[% devs.n %]_fstype">
<option value="ext3">[% d.get('EXT3') %]</option>
<option value="ext4">[% d.get('EXT4') %]</option>
<option value="reiserfs">[% d.get('ReiserFS') %]</option>
</select>
[% ELSE %]
[% IF devs{isefi} %]
<input type="hidden" id="[% devs.n %]_fstype" name="[% devs.n %]_fstype" value="vfat"><label>[% d.get('VFAT') %]</label>
[% ELSE %]
<select id="[% devs.n %]_fstype" name="[% devs.n %]_fstype">
<option value="vfat">[% d.get('VFAT') %]</option>
<option value="ntfs">[% d.get('NTFS') %]</option>
<option value="ext3">[% d.get('EXT3') %]</option>
<option value="ext4">[% d.get('EXT4') %]</option>
<option value="reiserfs">[% d.get('ReiserFS') %]</option>
</select>
[% END %]
[% END %]
</td>
[% IF devs{isefi} %]
<tr class="odd">
<td><label for="[% devs.n %]_bootable">[% d.get('Partition bootbar:') %]</label></td>
<td>[% IF devs{bootable} %]<input type="checkbox" id="[% devs.n %]_bootable" name="[% devs.n %]_bootable" checked disabled>
[% ELSE %]<input type="checkbox" id="[% devs.n %]_bootable" name="[% devs.n %]_bootable" disabled>[% END %]</td>
</tr>
[% END %]
</tr>
	[% END %]
[% END %]
</table>
<p><input type="submit" name="accept" value="&Auml;nderungen speichern"></p>
<p><input type="submit" name="[% devs.n %]_delete" value="System l&ouml;schen"><br>
<select name="[% devs.n %]_modifynew">
[% IF devs{iswindows} %][% ELSE %]<option value="windows">[% d.get('MS Windows') %]</option>[% END %]
[% IF devs{isgnulinux} %][% ELSE %]<option value="gnulinux">[% d.get('GNU/Linux') %]</option>[% END %]
[% IF devs{isdata} %][% ELSE %]<option value="data">[% d.get('Daten') %]</option>[% END %]
[% IF devs{isswap} %][% ELSE %]<option value="swap">[% d.get('Swap') %]</option>[% END %]
[% IF devs{iscache} %][% ELSE %][% IF iscached %][% ELSE %]<option value="cache">[% d.get('Cache') %]</option>[% END %][% END %]
[% IF devs{isext} %][% ELSE %]<option value="ext">[% d.get('erweitert') %]</option>[% END %]
[% IF devs{isefi} %][% ELSE %]<option value="efi">[% d.get('EFI') %]</option>[% END %]
</select>&nbsp;<input type="submit" name="[% devs.n %]_modify" value="System &auml;ndern">



<hr>
[% END %]


[% END %]
[% IF isautostartpossible %]
<table class="settings">
<colgroup>
<col width="60%">
<col width="40%">
</colgroup>
<td><label for="no_autostart">[% d.get('kein Betriebssystem automatisch starten') %]:</label></td>
[% IF isautostartselected %]
<td><input type="radio" id="no_autostart" name="autostart" value="none"></td>
[% ELSE %]
<td><input type="radio" id="no_autostart" name="autostart" value="none" checked></td>
[% END %]
</table>
[% END %]

<p><input type="submit" name="adddevbottom" value="Neues System hinzuf&uuml;gen">
<select name="adddevnewbottom">
<option value="windows">[% d.get('MS Windows') %]</option>
<option value="gnulinux">[% d.get('GNU/Linux') %]</option>
<option value="data" selected>[% d.get('Daten') %]</option>
<option value="swap">[% d.get('Swap') %]</option>[% IF iscached %][% ELSE %]
<option value="cache">[% d.get('Cache') %]</option>[% END %]
<option value="ext">[% d.get('erweitert') %]</option>
<option value="efi">[% d.get('EFI') %]</option>
</select>
</p>
<p><input type="submit" name="accept" value="&Auml;nderungen speichern"></p>

</form>

[% ELSE %]


[% IF groups %]
<h3>[% d.get('Bitte Rechnergruppe ausw&auml;hlen') %]</h3>


<form method="post" accept-charset="UTF-8">

<h4>[% d.get('&Uuml;bersicht der Rechnergruppen') %]</h4>

<table id="linbooverview" class="liste">
<tr>
<th>[% d.get('Gruppe') %]</th>
<!--th></th-->
</tr>
[% FOREACH groups %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
<td><input type="submit" name="[% .groups %]_edit_start_conf" value="[% groups %]"></td>
<td><input type="submit" name="[% .groups %]_delete_start_conf" value="l&ouml;schen"></td>
</tr>
[% END %]
</table>

</form>
[% END %]
[% END %]


</div>

<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE status.inc.tt %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('Klicken Sie auf einen Gruppennamen, um den Editor zu &ouml;ffnen.') %]</p>
<p>[% d.get('Beachten Sie, da&szlig; sich im Editor der Radio-Button zur Deaktivierung des Autostarts am Seitenende befindet.') %]</p>
<p><getext>Beachten Sie au&szlig;erdem, da&szlig; beim reboot-workaround in der gruppenspezifischen Linbo-Startdatei unter &quot;pxelinux.cfg/&lt;gruppe&gt;&quot; der Eintrag &quot;DEFAULT reboot&quot; aktiviert ist und der Rechner &uuml;ber PXE startet.') %]</p>

[% INCLUDE footer_info.inc.tt %]
</div>

[% INCLUDE footer.inc.tt %]

</body>
</html>
