[% page.default = '1' %]
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[% page.title %]</title>
    <link rel="stylesheet" title="linuxmuster.net::Schulkonsole" href="css/linuxmuster.css" type="text/css">
    <link rel="stylesheet" href="/jquery/jquery-ui.css"/>
    <script src="/jquery/jquery.js"></script>
    <script src="/jquery/jquery-ui.js"></script>
    <script src="/jquery/jMenu.jquery.js"></script>
    <!--[if lt IE 7]>
    <style type="text/css">@import url(css/linuxmuster_IE.css);</style>
    </style>
    <![endif]-->
    <script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body[% IF action %] class="[% action %]"[% END %]>

    <div id="container">
        <div id="header">
            [% IF link_settings %]
                <h1>[% loc('Schulkonsole für Netzwerkberater/innen') %]</h1>
            [% ELSIF link_class %]
                <h1>[% loc('Schulkonsole für Lehrer/innen') %]</h1>
            [% ELSIF link_start %]
                <h1>[% loc('Schulkonsole für Schüler/innen') %]</h1>
            [% ELSE %]
                <h1>[% loc('Schulkonsole') %]</h1>
            [% END %]
            [% loc('Version') %] [% version %] [% action %]
        </div>
    </div>

    [% IF page.special %]
        <div id="special"> </div>
    [% END %]
    [% IF page.menu %]
        <div id="menu">
            [% INCLUDE menu.inc.tt %]
        </div>
<script type="text/javascript">
  $(document).ready(function(){
    // simple jMenu plugin called
    $("#jMenu").jMenu({absoluteTop:24});
  });
</script>
    [% END %]

    <div id="content" class="content[% IF action %] [% action %][% END %][% IF page.classes %] [% page.classes %][% END %]">
        [% INCLUDE dialog.inc.tt %]

        [% page.default = '' %]
        [% content %]
        [% page.default = '1' %]
    </div>

    <div id="info" style="display: block;">
    <a class="hideinfo" [% dohref("#") %] onclick="toggle_visibility('info');">^</a>
        <div id="status"[% IF is_error == 0 %] class="ok"[% END %]>
            <div></div>
            [% IF status %]
                <p>[% status %]</p>
            [% END %]
            [% IF REMOTE_ADDR %]
                <p class="info">
                [% loc('Sitzungsdauer:') %] [% session_time %]<br>
                [% loc('verbleibend:') %] <span id="timer">[% max_idle_hh_mm_ss %]</span></p>
                <p class="info">[% loc('Benutzer:') %]
                <strong>[% firstname %] [% surname %]</strong><br>
                [% loc('Raum:') %]
                [% IF remote_room %]
                    <strong>[% remote_room %]</strong><br>
                [% ELSE %]
                    <strong>[% loc('unbekannt') %]</strong><br>
                [% END %]
                [% loc('Workstation:') %]
                <strong>[% remote_workstation %]</strong><br>
                [% loc('IP:') %] <strong>[% REMOTE_ADDR %]</strong><br>
                [% IF class_name %]
                    <p class="info">[% loc('aktive Klasse:') %]
                    <strong>[% class_name %]</strong></p>
                [% ELSIF project %]
                    <p class="info">[% loc('aktives Projekt:') %]
                    <strong>[% project %]</strong></p>                
                [% END %]
            [% END %]
        </div>
        <h2>[% loc('Info') %]</h2>
        [% page.default = '' %]
        [% page.info %]
        [% page.default = '1' %]
        [% INCLUDE "footer_info.inc.tt" %]
    </div>
    <div id="authors">
    </div>
</body>
</html>
