<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Projekte') %]</title>
[% INCLUDE "css.inc.tt" %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE "header.inc.tt" %]

<div id="submenu">
[% INCLUDE "submenu-project.inc.tt" %]
</div>

<div id="content">

<h2>[% d.get('Projekte') %] :: [% d.get('L&ouml;schen') %]</h2>

<h3>[% d.get('Ausgew&auml;hltes Projekt:') %] [% project %]</h3>

<form method="post" accept-charset="UTF-8">

<h3>[% d.get('Bitte best&auml;tigen</getttext></h3>

<p>[% d.get('M&ouml;chten Sie das Projekt wirklich l&ouml;schen?') %]</p>

<p><input type="hidden" name="ok" value="1">
<input type="submit" name="[% project_gid %]_drop" value="Ja">
<input type="submit" value="Nein">
</p>

</form>


</div>


<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "status.inc.tt" %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('W&auml;hlen Sie &#8222;Ja&#8220;, um das Projekt wirklich
zu l&ouml;schen.') %]</p>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
