<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Projekte') %]</title>
[% INCLUDE "css.inc.tt" %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE "header.inc.tt" %]

<div id="submenu">
[% INCLUDE "submenu-project.inc.tt" %]
</div>

<div id="content">

[% IF projects %]
<form method="post" accept-charset="UTF-8">
<p class="selectdomain">
<select name="projects">
<optgroup label="Projekte">
[% FOREACH projects %] <option value="[% projects.gid %]">[% projects.name %]</option>
[% END %]
</optgroup>
<optgroup label="aktuelles Projekt">
<option value="[% project_gid %]" selected>[% project %]</option>
</optgroup>
</select>
<input type="submit" value="[% d.get('Wechseln') %]">
</p>
</form>
[% END %]


<h2>[% d.get('Projekte') %]</h2>

[% IF project %]
<h3>[% d.get('Ausgew&auml;hltes Projekt') %]: [% project %]</h3>
[% ELSE %]
<h3>[% d.get('Bitte ein Projekt ausw&auml;hlen') %]</h3>
[% END %]


[% IF projects %]
<form method="post" accept-charset="UTF-8">

<h4>[% d.get('&Uuml;bersicht der Projekte') %]</h4>

<table id="projectsoverview" class="liste">
<tr>
<th>[% d.get('Projektename') %]</th>
<th>[% d.get('Zusatzquota') %]</th>
<th>[% d.get('Offenes Projekt') %]</th>
<th></th>
<th></th>
</tr>
[% FOREACH projects %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
<td><input type="submit" name="[% projects.gid %]_members" value="[% projects.name %]"></td>
<td>[% IF projects.addquota %]
[% projects.addquota %]&nbsp;MB[% ELSE %]-[% END %]</td>

[% IF projects.joinable %]
<td><input type="checkbox" disabled checked></td>
[% ELSE %]
<td><input type="checkbox" disabled></td>
[% END %]
[% IF projects.joinable %]
[% IF projects.islastadmin %]
<td></td>
[% ELSE %]
<td><input type="submit" name="[% projects.gid %]_remove" value="[% d.get('Austragen') %]"></td>
[% END %]
[% ELSE %]
<td></td>
[% END %]

[% IF projects.isadmin %]
<td><input type="submit" name="[% projects.gid %]_drop" value="[% d.get('L&ouml;schen') %]"></td>
[% ELSE %]
<td></td>
[% END %]

</tr>
[% END %]
</table>

</form>
[% END %]


[% IF other_projects %]
<form method="post" accept-charset="UTF-8">

<h4>[% d.get('Eintragen in Projekte') %]</h4>

<p>
<select name="project_add">
[% FOREACH other_projects %]
<option value="[% other_projects.gid %]">[% other_projects.name %]</option>
[% END %]
</select>
<input type="submit" value="[% d.get('Eintragen') %]">
</p>
</form>
[% END %]


<hr>

<form method="post" accept-charset="UTF-8">

<h4>[% d.get('Neues Projekt anlegen') %]</h4>

<p>
<label for="projectname">Kurzname</label>:
p_<input id="projectname" name="projectname">
<input type="checkbox" id="projectisopen" name="projectisopen" checked>
<label for="projectisopen">offenes Projekt</label><br>

<input type="submit" name="createproject" value="[% d.get('Anlegen') %]">
</p>


</div>


<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "status.inc.tt" %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('W&auml;hlen Sie ein Projekt aus dem Pull-Down-Men&uuml; oben
rechts oder aus der Liste, um damit arbeiten zu k&ouml;nnen.') %]</p>
<p>[% d.get('Tragen Sie sich aus einem Projekt aus, wenn Sie darin nicht mehr
mitarbeiten.') %]</p>
<p>[% d.get('Tragen Sie sich in ein Projekt ein, indem Sie es im
Pull-Down-Men&uuml; ausw&auml;hlen und dann die Schaltfl&auml;che
&#8222;Eintragen&#8220; bet&auml;tigen.') %]</p>
<p>[% d.get('Erlaubte Zeichen f&uuml;r den Kurznamen eines neuen Projekts sind
a-z und 0-9 sowie _ und -. Der Name muss zwischen 3 und 14 Zeichen lang sein.') %]</p>
<p>[% d.get('&#8222;Offenes&#8220; Projekt bedeutet, andere Lehrer k&ouml;nnen sich
in das Projekt eintragen.') %]</p>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
