<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Projekte') %]: [% project %] - [% d.get('Mitglieder') %]</title>
[% INCLUDE "css.inc.tt" %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE "header.inc.tt" %]

<div id="submenu">
[% INCLUDE "submenu-project.inc.tt" %]
</div>

<div id="content">

[% IF projects %]
<form method="post" accept-charset="UTF-8">
<p class="selectdomain"> <select name="projects">
<optgroup label="Projekte">
[% FOREACH projects %] <option value="[% projects.gid %]">[% projects.name %]</option>
[% END %]
</optgroup>
<optgroup label="aktuelles Projekt">
<option value="[% project_gid %]" selected>[% project %]</option>
</optgroup>
</select>
<input type="submit" value="Wechseln">
</p>
</form>
[% END %]


<h2>[% d.get('Projekte') %] :: [% d.get('Mitglieder') %]</h2>

<h3>[% d.get('Ausgew&auml;hltes Projekt:') %] [% project %]</h3>

[% IF isadmin %]

<form method="post" accept-charset="UTF-8">
<p><label for="projectisopen">Offenes Projekt</label>
[% IF isopen %]
<input type="checkbox" id="projectisopen" name="projectisopen" checked><br>
[% ELSE %]
<input type="checkbox" id="projectisopen" name="projectisopen"><br>
[% END %]
<input type="submit" name="projectisopenaccept" value="&Auml;nderungen speichern">
</p>
</form>

<h3>[% d.get('Mitglieder hinzuf&uuml;gen') %]</h3>

<form method="post" accept-charset="UTF-8" action="project_addmembers">
<p>
<label for="query">[% d.get('Suche:') %]</label>
<input id="query" name="query">
<input type="submit" name="search" value="Suche"></p>
<p><input type="radio" name="scope" id="radiostudent" value="student" checked>
   <label for="radiostudent">[% d.get('Sch&uuml;ler') %]</label>
   <input type="radio" name="scope" id="radioteacher" value="teacher">
   <label for="radioteacher">[% d.get('Lehrer') %]</label>
   <input type="radio" name="scope" id="radioclass" value="class">
   <label for="radioclass">[% d.get('Klasse') %]</label>
   <input type="radio" name="scope" id="radioproject" value="project">
   <label for="radioproject">[% d.get('Projekt') %]</label></p>
</form>
[% END %]


<form method="post" accept-charset="UTF-8">

<h3>[% d.get('Mitglieder im Projekt') %]</h3>

[% IF membersclasses %]

<table id="projectmemberclasses" class="liste">
<tr>
<th>[% d.get('Klassenname') %]</th>
<th>[% d.get('Mitgliedschaft beenden') %]</th>
</tr>
[% FOREACH membersclasses %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
[% IF membersclasses.ismember %]
<td><input type="submit" name="[% membersclasses.gid %]_gotoclass" value="[% membersclasses.name %]"></td>
[% ELSE %]
<td>[% membersclasses.name %]</td>
[% END %]
<td><input type="submit" name="[% membersclasses.gid %]_removeclass" value="Mitgliedschaft beenden"></td>
</tr>
[% END %]
<tr>
<th>[% d.get('Klassenname') %]</th>
<th>[% d.get('Mitgliedschaft beenden') %]</th>
</tr>
</table>

<hr>
[% END %]



[% IF membersprojects %]
[% odd=0 %]

<table id="projectmemberprojects" class="liste">
<tr>
<th>[% d.get('Projektname') %]</th>
<th>[% d.get('Offenes Projekt') %]</th>
<th>[% d.get('Mitgliedschaft beenden') %]</th>
</tr>
[% FOREACH membersprojects %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
[% IF membersprojects.ismember %]
<td><input type="submit" name="[% membersprojects.gid %]_gotoproject" value="[% membersprojects.name %]"></td>
[% ELSE %]
<td>[% membersprojects.name %]</td>
[% END %]
<td><input type="checkbox" disabled checked></td>
<td><input type="submit" name="[% membersprojects.gid %]_removeproject" value="Mitgliedschaft beenden"></td>
<td></td>
[% END %]
</tr>
[% END %]
<tr>
<th>[% d.get('Projektname') %]</th>
<th>[% d.get('Offenes Projekt') %]</th>
<th>[% d.get('Mitgliedschaft beenden') %]</th>
</tr>
</table>

<hr>
[% END %]



[% IF membersteachers %]
[% odd=0 %]

<table id="projectmemberteachers" class="liste">
<tr>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Projektleitung') %]</th>
<th>[% d.get('Mitgliedschaft beenden') %]</th>
</tr>
[% FOREACH membersteachers %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
<td>[% membersteachers.login %]</td>
<td>[% membersteachers.firstname %] [% membersteachers.surname %]</td>
[% IF membersteachers.isadmin %]
<td><input type="checkbox" disabled checked></td>
[% ELSE %]
<td><input type="checkbox" disabled></td>
[% END %]
<td><input type="submit" name="[% membersteachers.login %]_removeuser" value="Mitgliedschaft beenden"></td>
</tr>
[% END %]
<tr>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Projektleitung') %]</th>
<th>[% d.get('Mitgliedschaft beenden') %]</th>
</tr>
</table>

<hr>
[% END %]



[% IF membersstudents %]
[% odd=0 %]

<table id="projectmemberstudents" class="liste">
<tr>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Festplattenquota') %]</th>
<th>[% d.get('E-Mailquota') %]</th>
<th>[% d.get('Klasse') %]</th>
<th>[% d.get('Mitgliedschaft beenden') %]</th>
</tr>
[% FOREACH membersstudents %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
<td>[% membersstudents.login %]</td>
<td>[% membersstudents.firstname %] [% membersstudents.surname %]</td>
<td>
[% IF membersstudents.diskquotas %]

<p>

[% FOREACH membersstudents.diskquotas %]

[% membersstudents.diskquotas.path %]:<br>
	[% d.get('Speicherplatz/KB:') %]
	[% membersstudents.diskquotas.blocks_usage %]/[% membersstudents.diskquotas.blocks_soft %]
	- max: [% membersstudents.diskquotas.blocks_hard %]
	- [% membersstudents.diskquotas.blocks_percent %]%<br>
	[% IF membersstudents.diskquotas.blocks_grace %]
	[% d.get('verbleibende Zeit:') %] [% membersstudents.diskquotas.blocks_grace %]<br>[% END %]
	[% d.get('Dateien:') %]
	[% membersstudents.diskquotas.files_usage %]/[% membersstudents.diskquotas.files_soft %]
	- max: [% membersstudents.diskquotas.files_hard %]
	- [% membersstudents.diskquotas.files_percent %]%<br>
	[% IF membersstudents.diskquotas.files_grace %]
	[% d.get('verbleibende Zeit:') %] [% membersstudents.diskquotas.files_grace %]<br>[% END %]<br>

[% END %]
</p>


<ul>
[% FOREACH membersstudents.diskquotas %]
[% IF membersstudents.diskquotas.warn %]
<li class="warn">
[% ELSE %]
<li>
[% END %]
<span title="[% membersstudents.diskquotas}{path %]: [% membersstudents.diskquotas.blocks_percent %]%" style="width: ${membersstudents{diskquotas}{blocks_percent_rounded}}%;">&nbsp;</span>
</li>
[% END %]
</ul>
[% ELSE %]-[% END %]</td>
<td>[% IF membersstudents.mailquotas.limit %]


<p>
	[% d.get('E-Mail-Speicher/KB:') %]
	[% membersstudents.mailquotas.usage %]/[% membersstudents.mailquotas.limit %]
	- [% membersstudents.mailquotas.percent %]%
</p>


<ul>
[% IF membersstudents.mailquotas.warn %]
<li class="warn">
[% ELSE %]
<li>
[% END %]
<span title="E-Mail: ${membersstudents{mailquotas}{usage}}/${membersstudents{mailquotas}{limit}} ${membersstudents{mailquotas}{percent}}%" style="width: ${membersstudents{mailquotas}{percent_rounded}}%;">&nbsp;</span>
</li>
</ul>
[% ELSE %]-[% END %]</td>
<td>[% membersstudents.class %]</td>
<td><input type="submit" name="[% membersstudents.login %]_removeuser" value="Mitgliedschaft beenden"></td>
</tr>
[% END %]
<tr>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Festplattenquota') %]</th>
<th>[% d.get('E-Mailquota') %]</th>
<th>[% d.get('Klasse') %]</th>
<th>[% d.get('Mitgliedschaft beenden') %]</th>
</tr>
</table>

[% END %]

</form>


</div>


<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "status.inc.tt" %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('Als Projektmitglied sehen Sie hier Informationen zum aktiven Projekt') %]
[% project %].</p>
<p>[% d.get('Als Projektleiter k&ouml;nnen Sie hier Mitglieder zum aktiven Projekt') %]
[% project %] hinzuf&uuml;gen oder entfernen.</p>
<p>[% d.get('Um Mitglieder hinzuzuf&uuml;gen w&auml;hlen Sie zun&auml;chst, ob Sie einzelne
Sch&uuml;ler/innen, Lehrer/innen, alle Mitglieder einer Klasse oder eines Projekts
hinzuf&uuml;gen wollen. Geben Sie dann einen Suchbegriff ein und bet&auml;tigen die
Schaltfl&auml;che &#8222;Suche&#8220;. Ein * im Suchbegriff als Wildcard ist erlaubt.') %]</p>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
