<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Projekte') %]: [% project %] - [% d.get('Mitglieder hinzuf&uuml;gen') %]</title>
[% INCLUDE "css.inc.tt" %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE "header.inc.tt" %]

<div id="submenu">
[% INCLUDE "submenu-project.inc.tt" %]
</div>

<div id="content">
<h2>[% d.get('Projekte') %] :: [% d.get('Mitglieder hinzuf&uuml;gen') %]</h2>

<h3>[% d.get('Ausgew&auml;hltes Projekt:') %] [% project %]</h3>


<form method="post" accept-charset="UTF-8">

[% IF students %]
<table id="searchstudents" class="liste">
<tr>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Klasse') %]</th>
<th>[% d.get('Mitgliedschaft') %]</th>
</tr>
[% FOREACH students %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
<td>[% students.login %]</td>
<td>[% students.firstname %] [% students.surname %]</td>
<td>[% students.class %]</td>
<td><input type="checkbox" name="[% students.login %]_member"></td>
</tr>
[% END %]
<tr>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Klasse') %]</th>
<th>[% d.get('Mitgliedschaft') %]</th>
</tr>
</table>

<p><input type="submit" name="add" value="[% d.get('Aufnehmen') %]"></p>

[% END %]


[% IF teachers %]
<table id="searchteachers" class="liste">
<tr>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Mitgliedschaft') %]</th>
<th>[% d.get('Projektleitung') %]</th>
</tr>
[% FOREACH teachers %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
<td>[% teachers.login %]</td>
<td>[% teachers.firstname %] [% teachers.surname %]</td>
<td><input type="checkbox" name="[% teachers.login %]_member"></td>
<td><input type="checkbox" name="[% teachers.login %]_admin"></td>
</tr>
[% END %]
<tr>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Mitgliedschaft') %]</th>
<th>[% d.get('Projektleitung') %]</th>
</tr>
</table>

<p><input type="submit" name="add" value="[% d.get('Aufnehmen') %]"></p>

[% END %]



[% IF classes %]
<table id="searchclasses" class="liste">
<tr>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Mitgliedschaft') %]</th>
</tr>
[% FOREACH classes %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
<td><input type="submit" name="[% classes.gid %]_showclass" value="[% classes.name %]"></td>
<td><input type="checkbox" name="[% classes.gid %]_class"></td>
</tr>
[% END %]
<tr>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Mitgliedschaft') %]</th>
</tr>
</table>

<p><input type="submit" name="add" value="[% d.get('Aufnehmen') %]"></p>

[% END %]



[% IF projects %]
<table id="searchprojects" class="liste">
<tr>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Mitgliedschaft') %]</th>
</tr>
[% FOREACH projects %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
<td>[% projects.name %]</td>
<td><input type="checkbox" name="[% projects.gid %]_project"></td>
</tr>
[% END %]
<tr>
<th>[% d.get('Name') %]</th>
<th>[% d.get('Mitgliedschaft') %]</th>
</tr>
</table>

<p><input type="submit" name="add" value="[% d.get('Aufnehmen') %]"></p>

[% END %]

<input type="hidden" name="query">
<input type="hidden" name="scope">

</form>



<form method="post" accept-charset="UTF-8">
<p>
<label for="query">[% d.get('Neue Suche:') %]</label>
<input id="query" name="query">
<input type="submit" name="search" value="[% d.get('Suche') %]"></p>
<p><input type="radio" name="scope" id="radiostudent" value="[% d.get('student') %]" checked>
   <label for="radiostudent">[% d.get('Sch&uuml;ler') %]</label>
   <input type="radio" name="scope" id="radioteacher" value="[% d.get('teacher') %]">
   <label for="radioteacher">[% d.get('Lehrer') %]</label>
   <input type="radio" name="scope" id="radioclass" value="[% d.get('class') %]">
   <label for="radioclass">[% d.get('Klasse') %]</label>
   <input type="radio" name="scope" id="radioproject" value="[% d.get('project') %]">
   <label for="radioproject">[% d.get('Projekt') %]</label></p>
</form>


</div>


<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "status.inc.tt" %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('W&auml;hlen Sie die Mitglieder aus, die Sie neu ins Projekt aufnehmen
wollen und klicken Sie dann auf die Schaltfl&auml;che &#8222;Aufnehmen&#8220;.') %]</p>
<p>[% d.get('Falls das Suchergebnis nicht Ihren Erwartungen entspricht, k&ouml;nnen Sie
unten eine neue Suche starten.') %]</p>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
