<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Quota') %] - [% d.get('Lehrer') %]</title>
[% INCLUDE "css.inc.tt" %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE "header.inc.tt" %]

<div id="submenu">
[% INCLUDE "submenu-quotas.inc.tt" %]
</div>

<div id="content">

<h2>[% d.get('Quota') %] :: [% d.get('Lehrer') %]</h2>


[% IF teachers %]

<form method="post" accept-charset="UTF-8">

<table id="quotasteachers" class="liste">
<tr>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
[% IF mountpoints %]
<th colspan="[% mountpoints_cnt %]">[% d.get('Diskquota') %]</th>
[% END %]
<th>[% d.get('Mailquota') %]</th>
</tr>
[% IF mountpoints %]
<tr>
<th colspan="2"></th>
[% FOREACH mountpoints %]
<th>[% mountpoints %]</th>
[% END %]
<th></th>
</tr>
[% END %]
[% FOREACH teachers %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
<td>[% teachers.login %]</td>
<td>[% teachers.firstname %] [% teachers.surname %]</td>
[% FOREACH teachers.diskquotas %]
<td><input size="6" maxlength="5" name="[% teachers.login %]_teacher[% teachers.diskquotas.mountpoint %]-diskquota" value="[% teachers.diskquotas.quota %]"></td>
[% END %]
<td><input size="6" maxlength="5" name="[% teachers.login %]_teachermailquota" value="[% teachers.mailquota %]"></td>
</tr>
[% END %]
</table>

<p><input type="submit" name="acceptteachers" value="&Auml;nderungen &uuml;bernehmen"></p>

</form>

<!--#else-->
<p>[% d.get('Es gibt keine Lehrer.') %]</p>
[% END %]



</div>

<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "status.inc.tt" %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('Hier k&ouml;nnen Sie die Disk- und Mailquota f&uuml;r Lehrer/innen individuell anpassen. Die
Darstellung der Diskquota h&auml;ngt von Ihrer Partitionierung ab.') %]</p>
<p>[% d.get('Leere Felder bedeuten, dass in dem Fall die Standardeinstellungen gelten.') %]</p>
<p>[% d.get('Alle Werte sind in Megabyte (MB) einzugeben.') %]</p>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
