<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Quota') %]</title>
[% INCLUDE css.inc.tt %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE header.inc.tt %]

<div id="submenu">
[% INCLUDE submenu-quotas.inc.tt %]
</div>

<div id="content">

<h2>[% d.get('Quota') %]</h2>


[% IF quotaactivated %]

<p>
[% IF link_quotas_teachers %]
<a href="quotas_teachers">[% d.get('Lehrer') %]</a></br>
[% END %]
[% IF link_quotas_classes %]
<a href="quotas_classes">[% d.get('Klassen') %]</a></br>
[% END %]
[% IF link_quotas_projects %]
<a href="quotas_projects">[% d.get('Projekte') %]</a></br>
[% END %]
[% IF link_quotas_others %]
<a href="quotas_others">[% d.get('Sonderquota') %]</a></br>
[% END %]
</p>

[% ELSE %]
<p>[% d.get('Quota sind nicht aktiviert.') %]</p>
[% IF link_settings %]
<p>[% d.get('Gehen Sie auf <a href="settings">Einstellungen</a> um Quota zu
aktivieren.') %]</p>
[% END %]
[% END %]



</div>

<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE status.inc.tt %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('W&auml;hlen Sie aus in welchem Bereich Sie Quota-Anpassungen
vornehmen wollen.') %]</p>

[% INCLUDE footer_info.inc.tt %]
</div>

[% INCLUDE footer.inc.tt %]

</body>
</html>
