[% page = {
      title    => d.get('Schulkonsole - aktueller Raum') _ ": $room - " _ d.get('Klassenarbeitsmodus'),
      menu     => 1,
      submenu  => "room",
      info     => d.get('<p>Falls zu Beginn der Klassenarbeit noch nicht alle Sch&uuml;ler angemeldet waren, k&ouml;nnen Sie &uuml;ber die Schaltfl&auml;che &#8222;Anmeldestatus &uuml;berpr&uuml;fen&#8220; die Ansicht aktualisieren.</p><p>Um die Ansicht der bereitzustellenden Dateien zu aktualisieren, klicken Sie einfach oben auf den Link &#8222;Bereitstellen&#8220;.</p><p>Mit Bet&auml;tigen der Schaltfl&auml;che &#8222;bereitstellen&#8220; gelangen Sie zum n&auml;chsten Schritt. Gleichzeitig werden Ihre Dateien den Klassenarbeitsteilnehmern bereitgestellt.</p>'),
   }
%]

[% INCLUDE "subsubmenu-room_test.inc.tt" %]

<h2>[% d.get('Aktueller Raum') %]: [% room %]
::  [% d.get('Klassenarbeitsmodus') %]</h2>

<p>
[% d.get('Nutzung:') %]

[% IF editinguser %]
[% editinguser %]
[% d.get('unterrichtet in Raum') %]
[% room %].
[% IF endedittime %]
[% d.get('Unterrichtsende um') %] [% endedittime %].
[% END %]
</p>

<p>[% d.get('Klassenarbeitsmodus ist <strong>aktiv</strong>.') %]</p>

<hr>

<form method="post" accept-charset="UTF-8">


<table id="roomhandout" class="liste">
<tr>
<th>[% d.get('Hostname') %]</th>
<th>[% d.get('Login') %]</th>
</tr>
[% FOREACH w IN overview_workstations %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
	<td>[% IF w.first %]
	    [% w.name %]
	    [% END %]</td>
	<td>[% IF w.login %]
	    [% w.login %]
	    [% ELSE %]-[% END %]
	</td>
</tr>
[% END %]
</table>

<p><input type="submit" value="[% d.get('Aktualisieren') %]"></p>


<h3>[% d.get('Bereitzustellende Dateien') %]</h3>

[% IF teacher_share_files %]
<ul>
[% FOREACH tsf IN teacher_share_files %]
	<li>[% IF tsf.isdir %]
	*[% END %][% tsf.name %]</li>
[% END %]
</ul>
<p>[% d.get('Allen') %] <input type="submit" name="handouttest" value="[% d.get('bereitstellen') %]">
</p>
[% ELSE %]
<p>[% d.get('Keine Dateien') %]<p>
<p><input type="submit" name="continue" value="[% d.get('weiter') %]">
</p>
[% END %]

</form>
