[% page = {
      title    => d.get('Schulkonsole') _ " - " _ d.get('aktueller Raum') _ ":  $room - " _ d.get('Klassenarbeitsmodus'),
      menu     => 1,
      submenu  => "room",
      info     => d.get('<p>Übernehmen Sie entweder das vorgegebene Zufallspasswort oder geben Sie ein eigenes Passwort ein.</p><p>Mit Betätigung der Schaltfläche &bdquo;Klassenarbeit starten&ldquo; wird das neue Passwort an alle Arbeitsstationen im Raum verteilt, und die Schüler/innen können sich mit dem Namen der Arbeitsstation und dem eben vergebenen Passwort anmelden.</p>'),
   }
%]

[% INCLUDE "subsubmenu-room_test.inc.tt" %]

<h2>[% d.get('Aktueller Raum') %]: [% room %]
::  [% d.get('Klassenarbeitsmodus') %]</h2>

<p>
[% d.get('Nutzung:') %]

[% IF editinguser %]
[% editinguser %]
[% d.get('unterrichtet in Raum') %]
[% room %].
[% IF endedittime %]
[% d.get('Unterrichtsende um') %] [% endedittime %].
[% END %]
</p>

<p>[% d.get('Klassenarbeitsmodus ist <strong>nicht aktiv</strong>.') %]</p>

<hr>

<form method="post" accept-charset="UTF-8">
<p><label [% labelfor("workstationpassword") %]>Workstationpasswort:</label>
   <input id="workstationpassword" name="workstationpassword"></p>
<p><input type="submit" name="starttest" value="[% d.get('Klassenarbeit starten') %]">
</p>
</form>
