[% page = {
      title    => d.get('Schulkonsole - aktueller Raum') . ": $room - " . d.get('Klassenarbeitsmodus'),
      menu     => 1,
      submenu  => "room",
   }
%]

[% INCLUDE "subsubmenu-room_test.inc.tt" %]

<h2>[% d.get('Aktueller Raum') %]: [% room %]
::  [% d.get('Klassenarbeitsmodus') %]</h2>

<p>
[% d.get('Nutzung:') %]

[% IF editinguser %]
[% editinguser %]
[% d.get('unterrichtet in Raum') %]
[% room %].
[% IF endedittime %]
[% d.get('Unterrichtsende um') %] [% endedittime %].
[% END %]
</p>

<p>[% d.get('Klassenarbeitsmodus ist <strong>aktiv</strong>.') %]</p>

<hr>

<form method="post" accept-charset="UTF-8">
<p><label for="workstationpassword">Workstationpasswort:</label>
   <input id="workstationpassword" name="workstationpassword"></p>
<p><input type="submit" name="passwordtest" value="[% d.get('Passwort &auml;ndern') %]">
</p>
</form>



</div>

<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "status.inc.tt" %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('&Auml;ndern Sie hier erneut das Workstationpasswort um zu verhindern, dass sich
die Klassenarbeitsteilnehmer ab- und wieder anmelden k&ouml;nnen.') %]</p>
<p>[% d.get('Sollte es notwendig werden, dass sich ein Teilnehmer erneut anmelden muss, kehren
Sie einfach &uuml;ber obigen Link &#8222;Passwort &auml;ndern&#8220; auf diese Seite zur&uuml;ck und
vergeben ein neues Passwort.') %]</p>
<p>[% d.get('&Uuml;ber die Schaltfl&auml;che &#8222;Passwort &auml;ndern&#8220; setzen Sie das neue
Workstationpasswort und gelangen zum n&auml;chsten Schritt.') %]</p>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
