[% page = {
      title    => d.get('Schulkonsole - aktueller Raum') . ": $room - " . d.get('Klassenarbeitsmodus'),
      menu     => 1,
      submenu  => "room",
      info     => d.get('<p>Die Sch&uuml;ler/innen m&uuml;ssen ihre Ergebnisse im Heimatverzeichnis der Arbeitsstation im Ordner &#8222;__einsammeln&#8220; ablegen, damit sie hier aufgelistet werden und eingesammelt werden k&ouml;nnen. Laden Sie die Seite eventuell neu, um den aktuellen Status zu sehen.</p><p>&#8222;Kopien einsammeln&#8220; sammelt den aktuellen Stand der Ergebnisse ein.</p><p>&#8222;Einsammeln und beenden&#8220; sammelt alle Ergebnisse ein, l&ouml;scht den Inhalt des Ordners &#8222;__einsammeln&#8220; der Arbeitsstation und beendet die Klassenarbeit.</p>'),
   }
%]

[% INCLUDE "subsubmenu-room_test.inc.tt" %]

<h2>[% d.get('Aktueller Raum') %]: [% room %]
::  [% d.get('Klassenarbeitsmodus') %]</h2>

<p>
[% d.get('Nutzung:') %]

[% IF editinguser %]
[% editinguser %]
[% d.get('unterrichtet in Raum') %]
[% room %].
[% IF endedittime %]
[% d.get('Unterrichtsende um') %] [% endedittime %].
[% END %]
</p>

<p>[% d.get('Klassenarbeitsmodus ist <strong>aktiv</strong>.') %]</p>

<hr>

<form method="post" accept-charset="UTF-8">

<p><input type="submit" name="collectcopy" value="[% d.get('Kopien einsammeln') %]">
   <input type="submit" name="collectmove" value="[% d.get('Einsammeln und beenden') %]"></p>

<table id="roomcollect" class="liste">
<tr>
<th>[% d.get('Hostname') %]</th>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Dateien') %]</th>
</tr>
[% FOREACH overview_workstations %]
[% IF odd %][% odd=0 %]<tr class="odd">
[% ELSE %][% odd=1 %]<tr class="even">[% END %]
	<td>[% IF overview_workstations.first %]
	    [% overview_workstations.name %]
	    [% END %]</td>
	[% IF overview_workstations.login %]
	<td>[% overview_workstations.login %]</td>
	<td>[% FOREACH overview_workstations.files %]
	[% IF overview_workstation.files.isdir %]
	*[% END %][% overview_workstations.files.name %]<br>
	[% END %]
	</td>
	[% ELSE %]
	<td>-</td>
	<td>-</td>
	[% END %]
</tr>
[% END %]
</table>

<p><input type="submit" name="collectcopy" value="[% d.get('Kopien einsammeln') %]">
   <input type="submit" name="collectmove" value="[% d.get('Einsammeln und beenden') %]"></p>


<p><input type="submit" value="[% d.get('Aktualisieren') %]"></p>

</form>
