<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Einstellungen') %] - [% d.get('Schulkonsole>') %]</title>
[% INCLUDE "css.inc.tt" %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE "header.inc.tt" %]

<div id="submenu">
[% INCLUDE "submenu-settings.inc.tt" %]
</div>

<div id="content">

<h2>[% d.get('Einstellungen') %] :: [% d.get('Schulkonsole') %]</h2>

<form method="post" accept-charset="UTF-8">

<h3>[% d.get('Global') %]</h3>

<table class="settings">
<colgroup span="2" width="50%">
</colgroup>
<tr class="even">
<td><label for="conf_max_idle_time" accesskey="i">[% d.get('Sitzungsdauer') %]</label></td>
<td><input type="text" size="5" maxlength="4" name="conf_max_idle_time" id="conf_max_idle_time"> [% d.get('Minuten') %]</td>
</tr>
</table>

<p>
<input type="submit" name="accept" value="[% d.get('&Auml;nderungen &uuml;bernehmen') %]">
</p>

</form>


</div>

<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "status.inc.tt" %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('Bearbeiten Sie hier die globalen Einstellungen f&uuml;r die
Schulkonsole.') %]</p>
<p>[% d.get('F&uuml;r eine detaillierte Beschreibung der einzelnen Punkte
konsultieren Sie bitte die Dokumentation.') %]</p>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
