<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% showfirstname %] [% showsurname %]</title>
[% INCLUDE "css.inc.tt" %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<style type="text/css" media="print">
#head, #menu, #submenu, #help,
#supportnetz, #special, #footer, #bwlogo, #lmzlogo {
	display: none;
}

#content {
	position: relative;
	margin: 1em;
	padding: 0;
	border: none;
}
</style>
<body>

[% INCLUDE "header.inc.tt" %]

<div id="submenu">
[% IF isteachers %]
[% INCLUDE "submenu-user.inc.tt" %]
[% ELSE %]
[% IF isproject %]
[% INCLUDE "submenu-project.inc.tt" %]
[% ELSE %]
[% INCLUDE "submenu-class.inc.tt" %]
[% END %]
[% END %]
</div>

<div id="content">

<h2>[% showfirstname %] [% showsurname %]</h2>
<p>
<table>
<tr>
<th>[% d.get('Benutzername') %]: </th>
<td>[% showusername %]</td>
</tr>
<tr>
<th>[% d.get('Erstpasswort') %]: </th>
<td>[% showpassword %]</td>
</table>

</div>

<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
