<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Benutzer') %] - [% d.get('Sch&uuml;lerliste pflegen') %]</title>
[% INCLUDE "css.inc.tt" %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE "header.inc.tt" %]

<div id="submenu">
[% INCLUDE "submenu-user.inc.tt" %]
</div>

<div id="content">

<h2>[% d.get('Benutzerverwaltung') %] :: [% d.get('Extralisten pflegen') %]</h2>


<form method="post" accept-charset="UTF-8">
<h3><label for="extrauser">[% d.get('Extrasch&uuml;ler editieren') %]</label></h3>

<p>
<textarea id="extrauser" name="extrauser" rows="20" cols="70">
</textarea>
</p>

<p><input type="submit" name="extrauseredit" value="[% d.get('&Auml;nderungen speichern') %]"></p>

</form>

<hr>

<form method="post" accept-charset="UTF-8">
<h3><label for="extracourse">[% d.get('Extrakurse editieren') %]</label></h3>

<p>
<textarea id="extracourse" name="extracourse" rows="20" cols="70">
</textarea>
</p>

<p><input type="submit" name="extracourseedit" value="[% d.get('&Auml;nderungen speichern') %]"></p>

</form>

</div>

<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE "status.inc.tt" %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('Hier pflegen Sie Extrasch&uuml;ler und Extrakurse.') %]</p>
<p>[% d.get('Editieren Sie die Listen in den entsprechenden Textfeldern.
Ge&auml;nderte Daten werden &uuml;ber die Schaltfl&auml;che
&#8222;&Auml;nderungen speichern&#8220; im System gespeichert.
Fahren Sie dann mit dem Men&uuml;punkt &#8222;Benutzerlisten pr&uuml;fen&#8220;
fort.') %]</p>
<p>[% d.get('Kommentarzeilen beginnen mit einem Gatter (#) und werden nicht
ausgewertet.') %]</p>

[% INCLUDE "footer_info.inc.tt" %]
</div>

[% INCLUDE "footer.inc.tt" %]

</body>
</html>
