<html lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="de">
<title>[% d.get('Schulkonsole') %] - [% d.get('Benutzer') %] - [% d.get('Lehrerpassw&ouml;rter') %]</title>
[% INCLUDE css.inc.tt %]
<script type="text/javascript" src="schulkonsole.js"></script>
</head>
<body>

[% INCLUDE header.inc.tt %]

<div id="submenu">
[% INCLUDE "submenu-user.inc.tt" %]
</div>

<div id="content">

<h2>[% d.get('Benutzerverwaltung') %] :: [% d.get('Lehrerpassw&ouml;rter') %]</h2>


[% IF teachers %]

<form class="singleton" method="post" accept-charset="UTF-8" action="user_teacherpasswords/teachers.pdf">
<p>
<input type="submit" name="passwords_print_pdf" value="Passwortliste als PDF">
</p>
</form>

<form class="singleton" method="post" accept-charset="UTF-8" action="user_teacherpasswords/teachers.csv">
<p>
<input type="submit" name="passwords_print_csv" value="Passwortliste als CSV">
</p>
</form>

<hr>


<form method="post" accept-charset="UTF-8">

<table id="teacherspasswords" class="liste">
<col width="1%">
<tr>
<th>[% d.get('Nr') %]</th>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th></th>
<th></th>
</tr>
[% FOREACH teachers %]
<tr>
<td align="right">[% teachers.lfdnr %].&nbsp;</td>
<td>[% teachers.login %]</td>
<td>[% teachers.firstname %] [% teachers.surname %]</td>
<td><input type="checkbox" name="[% teachers.login %];select"></td>
<td><input type="submit" name="[% teachers.login %]_showpassword" value="Erstpasswort anzeigen"></td>
</tr>
[% END %]
<tr class="quickselection">
<td></td>
<td colspan="2">[% d.get('Schnellauswahl') %]</td>
<td colspan="2"><input type="button" value="An" name="select" onClick="check_uncheck(this)"></td>
</tr>
<tr>
<th>[% d.get('Nr') %]</th>
<th>[% d.get('Login') %]</th>
<th>[% d.get('Name') %]</th>
<th></th>
<th></th>
</tr>
</table>

<ul>
<li><input type="submit" name="passwords_reset" value="Passwort auf Erstpasswort setzen"></li>
<li><input type="submit" name="passwords_random" value="Passwort und Erstpasswort setzen (Zufallswert)"></li>
<li><input type="submit" name="passwords_set" value="Passwort und Ertspasswort setzen (Eingabewert)">:
<input type="password" name="userpassword"></li>
</ul>

</form>
[% ELSE %]
[% d.get('keine Lehrer') %]
[% END %]

</div>

<div id="info" style="display: block;">
<a class="hideinfo" onclick="toggle_visibility('info');" href="#">^</a>

[% INCLUDE status.inc.tt %]

<h2>[% d.get('Info') %]</h2>

<p>[% d.get('Hier k&ouml;nnen Sie die Passw&ouml;rter der Lehrkr&auml;fte &auml;ndern.') %]
[% d.get('Sie haben folgende Funktionen zur Verf&uuml;gung:') %]</p>
<ul>
<li>[% d.get('Setzen des Passwortes auf das Erstpasswort') %]</li>
<li>[% d.get('Setzen des Passwortes und des Erstpasswortes auf einen zuf&auml;lligen Wert') %]</li>
<li>[% d.get('Setzen des Passwortes und des Erstpasswortes auf einen eingegebenen Wert') %]</li>
</ul>
<p>[% d.get('Sie k&ouml;nnen sich das Passwort eines Lehrers nach der
Vergabe anzeigen lassen.') %] [% d.get('Au&szlig;erdem k&ouml;nnen Sie
sich die Passwortliste der Lehrkr&auml;fte im PDF- oder CSV-Format herunterladen, um Sie dann
ausdrucken zu lassen.') %]</p>

[% INCLUDE footer_info.inc.tt %]
</div>

[% INCLUDE footer.inc.tt %]

</body>
</html>
