[% page = {
      title    => loc('Schulkonsole') _ " - " _ loc('aktueller Raum') _ ":  $room - " _ loc('Klassenarbeitsmodus'),
      menu     => 1,
      submenu  => "room",
      info     => loc('<p>Bestätigen Sie das Beenden der Klassenarbeit. Die eingesammelten Ergebnisse finden Sie danach in Ihrem Heimatverzeichnis unter &bdquo;_eingesammelt -&gt; eingesammelt-klassenarbeit&ldquo;.</p><p>Falls Sie doch noch nicht beenden wollen, können Sie über den Link &bdquo;Einsammeln&ldquo; wieder zur vorigen Seite zurückkehren.</p>'),
   }
%]

[% INCLUDE "subsubmenu-room_test.inc.tt" %]

<h2>[% loc('Aktueller Raum') %]: [% room %]
::  [% loc('Klassenarbeitsmodus') %]</h2>

<p>
[% loc('Nutzung:') %]

[% IF editinguser %]
[% editinguser %]
[% loc('unterrichtet in Raum') %]
[% room %].
[% END %]
[% IF endedittime %]
[% loc('Unterrichtsende um') %] [% endedittime %].
[% END %]
</p>

<p>[% loc('Klassenarbeitsmodus ist <strong>aktiv</strong>.') %]</p>

<form method="post" accept-charset="UTF-8" onsubmit="return showBusy()">

<h3>[% loc('Bitte bestätigen') %]</h3>

<p>[% loc('Mit dem Einsammeln der Dateien wird die Klassenarbeit beendet.') %]

<p><input type="submit" name="collectmove" value="[% loc('Bestätigen') %]"></p>

</form>
